body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-light {
  background-color: #4E9455 !important;
}

.mainlogo {
  width: 7%;
}

.pagetitlecontainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.pagetitle {
  font-size: 36px;
  font-weight: bold;
  width: 100%;
  display: flex;
  margin-top: 12px;
  margin-bottom: 25px;
}

.otherTitle {
  font-size: 36px;
  font-weight: bold;
  width: 100%;
  justify-content: center;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 25px;
}

.pagesubtitle {
  font-size: 30px;
  text-align: right;
  margin-bottom: 25px;
}

.parcontainer {
  margin-top: 50px;
  text-align: center;
}

.sharing {
  text-align: center;
  padding: 20px;
}

.product {
  text-align: right;
  padding: 10px;
  margin: 12px;
  border: 2px black solid;
}

.review {
  text-align: left;
  padding: 10px;
  margin: 12px;
  border: 3px #8A2222 solid;
}

.footer {
  display: flex;
  height: 60px;
  justify-content: space-around;
  background-color: #4E9455;
}

.footerLogo {
  margin-top: 10px;
}

.gitLink {
  margin-top: 10px;
  color: black;
}

@media (min-width: 48em) {
      .navbar-nav {
        margin-left: auto!important;
        margin-right: 0!important;
    }

    .photo img {
      width: 100%;
      max-height: 500px;
      object-fit: cover;
    }

    .productGrid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: row;
      width = 100%
    }

    .product {
      width: 50%;
      height: auto;
    }

    .product img {
      width: 80%;
      justify-content: center;
      max-height: 400px;
      object-fit: cover;
    }

    .review {
      font-size: 36px;
    }
}
